<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扇贝网欢迎你！</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .text-center{
            margin-top: 100px;
        }
        .top-header{
            margin-top: 30px;
            color: #000;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="container home-unlogin-header text-right">
    <div class="top-header">

        <a href="/user/login">登录</a>
        <span>|</span>
        <a href="/user/regist">注册</a>

    </div>
    <div class="text-center">
        <img src="https://static.baydn.com/static/img/logo_v5.png">
    </div>
</div>



<script src="/static/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>